<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{voucher} && !{voucher.deleted}">
    <div class="voucher-container">
        <f:if condition="{voucher.design} == 'santa'">
            <f:then>
                <div class="voucher voucher-santa" id="voucherElement">
                    <div class="voucher-santa-header">
                        <div class="voucher-santa-icon">🎅</div>
                        <h3 class="voucher-title">{voucher.headline}</h3>
                    </div>
                    <div class="voucher-santa-body">
                        <div class="voucher-santa-snow">❄️ ❄️ ❄️</div>
                        <div class="voucher-for">
                            <span class="voucher-label">Für:</span>
                            <span class="voucher-name">{voucher.forName}</span>
                        </div>
                        <div class="voucher-description">
                            {voucher.description}
                        </div>
                        <div class="voucher-from">
                            <span class="voucher-label">Von:</span>
                            <span class="voucher-name">{voucher.fromName}</span>
                        </div>
                        <div class="voucher-santa-footer">
                            🎄 Ho Ho Ho! 🎄
                        </div>
                        <div class="voucher-date">0{day}.12.2025</div>
                    </div>
                </div>
            </f:then>
            <f:else>
                <div class="voucher voucher-classic" id="voucherElement">
                    <div class="voucher-border">
                        <div class="voucher-snowflakes">❄️ ❄️ ❄️ ❄️ ❄️</div>
                        <div class="voucher-header">
                            <div class="voucher-icon">🎁</div>
                            <h3 class="voucher-title">{voucher.headline}</h3>
                        </div>
                        <div class="voucher-body">
                            <div class="voucher-for">
                                <span class="voucher-label">Für:</span>
                                <span class="voucher-name">{voucher.forName}</span>
                            </div>
                            <div class="voucher-description">
                                {voucher.description}
                            </div>
                            <div class="voucher-from">
                                <span class="voucher-label">Von:</span>
                                <span class="voucher-name">{voucher.fromName}</span>
                            </div>
                        </div>
                        <div class="voucher-footer">
                            <div class="voucher-snowflakes">🎄 ⭐ 🎄 ⭐ 🎄</div>
                        </div>
                        <div class="voucher-date">0{day}.12.2025</div>
                    </div>
                </div>
            </f:else>
        </f:if>
        <div class="voucher-download-container">
            <button class="voucher-download-btn" onclick="downloadVoucher()">
                <i class="bi bi-download"></i> <f:translate key="LLL:EXT:adventskalender/Resources/Private/Language/locallang.xlf:voucher.download" />
            </button>
        </div>
    </div>
</f:if>

</html>
